{% extends 'base.html' %}

{% block content %}



<style>
   body {
   margin:0;
   padding:0;
   font-family: sans-serif;
   background: linear-gradient(#141e30, #243b55);
 }
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

  :root {
    --card-height: 50vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
    .card {
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    cursor: pointer;
    font-family: cursive;
  }

    .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }

  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }

  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  } 
</style>


<nav class="navbar navbar-expand-lg bg-light p-3" style="padding: 16px; background: linear-gradient(#141e30, #243b55);" >

  <div class="container-fluid">
    
      <a class="navbar-brand" href="#"> Rangga's To-do-list</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'todolist:show_todo_list' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'todolist:add_task_ajax' %}" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">New Task</a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">{{username}}</a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-primary">
                <a class="text-decoration-none text-white" href="{% url 'todolist:logout' %}">Logout</a>
            </button>
            </li>
          </ul>
      </div>
  </div>
</nav>

<div class="div m-4 d-flex justify-content-center">
  <h4>
    {{mess}}
  </h4>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="formTask">
          {% csrf_token %}
          <table class="table table-striped table-hover table table-bordered px-5">
            <tr>
              <td>Title: </td>
              <td><input type="text" name="title" placeholder="Fill todo" class="form-control"></td>
            </tr>
                  
            <tr>
              <td>Description: </td>
              <td><input type="text" name="description" placeholder="Fill description" class="form-control"></td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" id ="buttonTask" data-bs-dismiss="modal" class="btn btn-primary">Add Task</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4 mx-5" id="cardcontainer">
  
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  $(document).ready(function()  {
    refreshTodolist();
  });

  async function getTodolist() {
      return fetch("{% url 'todolist:json' %}").then((res) => res.json())
    }
  
    async function refreshTodolist() {
          document.getElementById("cardcontainer").innerHTML = ""
          const todolist = await getTodolist()
          let htmlString = ``
          todolist.forEach((item, i) => {
            
            htmlString += `
            <div class="col">
              <div class="card">
                {% if task.is_finished %}
                <div class="card-header bg-primary text-white">
                  <div class="row ">
                    <div class="col">
                      {{task.date}}
                    </div>
                    <div class="col font-weight-bold" align="right">
                      {% if task.is_finished %} FINISHED {% else %} NOT YET {% endif %}
                    </div>
                  </div>
                </div>
                {% else %}
                <div class="card-header bg-danger text-white">
                  <div class="row ">
                    <div class="col">
                      {{task.date}}
                    </div>
                    <div class="col font-weight-bold" align="right">
                      {% if task.is_finished %} FINISHED {% else %} NOT YET {% endif %}
                    </div>
                  </div>
                </div>
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">${item.fields.title}</h5>
                  <p class="card-text">${item.fields.description}</p>
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-primary" onclick="updateTask(${item.pk})">Change Status</button>
                    </div>
                    <div class="col d-flex justify-content-end">
                      <button class="btn btn-primary" onclick="deleteTask(${item.pk})">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>`
          })
          document.getElementById("cardcontainer").innerHTML = htmlString
    }
  
    function addTodolist() {
      fetch("{% url 'todolist:create_task' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#formTask'))
        }).then(refreshTodolist)
      return false
    }

    function deleteTask(val) {
      fetch("{% url 'todolist:delete_task' 0 %}".replace("0", val)).then(refreshTodolist)
      }
    

    function updateTask(val) {
        fetch("{% url 'todolist:update_finished' 0 }%".replace("0", val)).then(refreshTodolist)
    }
  
    document.getElementById("buttonTask").onclick = addTodolist
    refreshTodolist()
</script>

{% endblock content %}